.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.title {
  background-image: linear-gradient(45deg, #cd79be, #6e40c9);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 5vw;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 50vw;
  min-width: 320px;
  max-width: 800px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-input {
  flex: 1;
  padding: 15px;
  border: none;
  font-size: 16px;
  color: #333;
  outline: none;

    &::placeholder {
      color: #888;
    }
}

.search-button{
  padding: 15px 20px;
  background: linear-gradient(180deg, rgba(183, 52, 179, 0.15) 0%, rgba(164, 46, 156, 0) 100%),#6e40c9;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
    
    &:hover {
      background-color: #5a32a3;
    }
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.pagination-buttons {
  display: flex;
  justify-content: center; /* Centra los botones */
  margin-top: 15px;        /* Espacio superior */
}

.pagination-buttons button {
  margin: 0 10px;            /* Espacio entre los botones */
  padding: 8px 20px;         /* Tamaño del botón */
  font-size: 14px;           /* Tamaño de fuente */
  font-weight: bold;         /* Negrita */
  background-color: #6f42c1; /* Color de fondo morado */
  color: #fff;               /* Texto blanco */
  border: none;              /* Sin borde */
  border-radius: 5px;        /* Bordes redondeados */
  cursor: pointer;           /* Mano como cursor */
  transition: background-color 0.3s ease; /* Transición suave */
}

.pagination-buttons button:disabled {
  background-color: #ccc;    /* Color gris para el botón deshabilitado */
  cursor: not-allowed;       /* Cursor no permitido */
}

.pagination-buttons button:hover:not(:disabled) {
  background-color: #5a32a3; /* Color más oscuro al hacer hover */
}
