<div class="container">
    <h2 class="title">Search GitHub Users</h2>
    <div class="search-bar">
        <input type="text" class="search-input" [(ngModel)]="query" placeholder="Enter username here" />
        <button class="search-button" (click)="searchUsers()">Search</button>
    </div>

    @if (error) {
      <div class="error">{{ error }}</div>
    }
    
    @if (users.length > 0) {
      <app-users [users]="users"/>
    }

    @if (users.length >= pageSize) {
      <div class="pagination-buttons">
        <button (click)="previousPage()" [disabled]="page === 1">Previous</button>
        <button (click)="nextPage()">Next</button>
      </div>
    }

    @if (isModalOpen) {
      <app-user-info-modal [user]="selectedUser" (close)="closeModal()"/>
    }
  </div>