<ul class="user-list">
  @for (user of users; track user.id) {
    <li class="user-item">
      <a [href]="user.html_url" target="_blank">
        <img [src]="user.avatar_url" alt="{{ user.login }}'s avatar" class="avatar" />
        <div class="user-info">
          <span class="username">{{ user.login }}</span>
          @if (user.followersCount !== undefined) {
            <span class="followers">
              {{ user.followersCount }} followers
            </span>
          }
        </div>
      </a>
    </li>
  }
</ul>
