body {
  font-family: sans-serif;
  background: rgb(46,44,46);
background: linear-gradient(135deg, rgba(46,44,46,1) 75%, rgba(17,150,243,1) 100%);
  background-attachment: fixed;
}

input,
button {
  font-family: sans-serif;
  font-size: 16px;
}

input::placeholder,
textarea::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  font-family: sans-serif;
}
