@font-face {
    font-family: 'MonaSans';
    src: url('/assets/fonts/Mona-Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'MonaSans', sans-serif;
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
  }
  
  input,
  textarea,
  select,
  button {
    font-family: 'MonaSans', sans-serif;
    font-size: 16px;
  }
  

  input::placeholder,
  textarea::placeholder {
    font-family: 'MonaSans', sans-serif;
  }
  

  ::-webkit-input-placeholder {
    font-family: 'MonaSans', sans-serif;
  }
  
  ::-moz-placeholder {
    font-family: 'MonaSans', sans-serif;
  }
  
  :-ms-input-placeholder {
    font-family: 'MonaSans', sans-serif;
  }
  
  :-moz-placeholder {
    font-family: 'MonaSans', sans-serif;
  }
  